name: Close inactive issues
on:
  schedule:
    - cron: "00 5 * * *"
jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v10
        with:
          days-before-issue-close: 1
          close-issue-message: "T채m채 tiketti suljettiin automaattisesti, koska se on ollut 1 p채iv채n Ratkaisu ehdotettu -tilassa."
          close-issue-reason: completed
          repo-token: ${{ secrets.GITHUB_TOKEN }}
